.modalBg {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(101, 101, 101, 0.85);
}

.modalWindow {
    position: fixed;
    padding: 64px;
    background-color: #242424;
    box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalPWrapper {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    align-items: center;
}

.modalTitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #EB9B00;
    margin: 0;
}

.modalCloseButton {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
}